* {
    font-family: "Roboto", sans-serif;
}

body {
    display: grid;
    height: 100vh;
    grid-template: repeat(4, 25%) / repeat(4, 25%);
}

div {
    background-color: tomato;
    grid-area: 2 / 2 / span 2 / span 2;
}

form {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    height: 100%;
    width: 100%;
}

input {

    align-self: center;
    width: 90%;
}

#button {
    margin: auto;;
    border-radius: 16px;
    border: 0px;
    letter-spacing: 1px;
    width: min-content;
    padding: 16px 50px;
    transition-duration: 0.4s;
}

#button:hover {
    color:white;
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px 0 rgba(46, 229, 157, 0.4);
    transform: translateY(-7px);
}